*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    font-weight: 300;
    color: white;
}

/* header */
header{
    height: 50px;
    background-color: black;
}

.speaker{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items:baseline;
}

.cell, .maximize{
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 15px;
    font-weight: 300;
    padding: 0.3rem;
    margin: 0.5em;
    border-radius: 5px;
}

/* main */

main{
    background-color: black;
}

.container{
    max-width: 90vw;
    margin: 0 auto;
    padding: 0.5rem 0;
    height: calc(100vh - 50px - 100px);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 1rem;
    column-gap: 0.3rem;
}

.card{
    flex-basis: calc(100% / 7 - 1.8rem / 7);   
    height: 140px;
    position: relative;
}

.card img{
    width: 100%;
    height: 100%;
}

.card .name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.3em;
    font-size: 15px;
} 

/* footer */
footer{
    height: 100px;
    background-color: rgb(34, 34, 34);

}

.buttons{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 1rem 1rem;
}

.top-flex-container{
    display: flex;
}

.flex-container{
    display: flex;
    align-items: center;
}

.btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.8rem;
}

.icon{
    font-size: 30px;
    margin-bottom: 0.5rem;
}

.icon-green{
    color: green;    
}

.end-meeting{
    height: 100%;
    background-color: rgb(74, 74, 74);
    display: flex;
    align-items: center;
}

.box-meeting{
    padding: 0 1rem;
}

.btn-exit{
    color: red;
}